.contenedor_NFT_home {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
  }
  
  .imagen_NFT_home {
    height: 100%;
    width: auto; /* Permite que la imagen se expanda en base al contenedor */
    position: relative;
    animation: entrar 1s forwards; /* Animación de entrada */
  }
  
  @keyframes entrar {
    to {
      left: 0; /* Movemos la imagen dentro del div */
    }
  }
  